body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: #2b283a;
}

/* NAVBAR */
.navbar {
  background-color: #f55a5a;
  color: white;
  padding: 1%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 400;
}

.globe {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* CARD */
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5%;
  place-items: center;
}

.card-location-description {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.card-right {
  padding: 2%;
}

.location {
  width: 15px;
  height: 20px;
  margin-right: 10px;
}

.card-location {
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 4px;
}

a {
  color: #918e9b;
  margin-left: 5px;
}

.card-image {
  width: 250px;
  padding: 1%;
  border-radius: 10px;
  align-self: auto;
}

.card-right > h2 {
  font-size: 35px;
}

.card-right > h3 {
  font-weight: 700;
  font-size: 15px;
}
