body {
  margin: 0px;
  font-family: "Inter", sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #f55a5a;
  color: white;
  padding: 1%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 400;
}

.globe {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* CARD */
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-location-description {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.location {
  width: 15px;
  height: 20px;
  margin-right: 10px;
}

.card-location {
  text-transform: uppercase;
  margin-right: 10px;
}

a {
  color: #918e9b;
}
